.registration-container {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid blue;
  width: 30em;
  height: 30em;
}


.registration-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-menu-container h1 {
  color: #0A2344;
}
.registration-menu-container a {
  margin: 0 auto;
  padding: 1em 0 2em 0;
  font-size: 14px;
  color: #0A2344;
}
.registration-menu-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 15em;
  height: 18em;
}
.registration-menu-wrapper input {
  margin-top: 5px;
}
#username {
  padding: 5px;
}
#email {
  padding: 5px;
}
#password {
  padding: 5px;
}