 .dashboard-container {
  display: flex;
}
.dashboard-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dashboard-menu-wrapper {
  width: 700px;
  height: 500px;
}
.dashboard-btn {
  width: 24em;
  height: 2.3em;
  margin: 5px;
  color: #F0F4EF;
  border-radius: 15px;
  border: 0;
  font-size: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dashboard-btn:hover {
 border: 1px solid white;
}
.dashboard-btn:active {
 border: 5px solid white;
}
.play-btn {
  background-color: #14661C;
}
.profile-btn {
  background-color: #BFCC94;
}
.chat-btn {
  background-color: #BE3788;
}
.dashboard-user-controls {
  position: absolute;
  right: 5em;
}