.gamescreen-controls {
  position: relative;
  bottom: 10em;
  display: flex;
  flex-direction: column;
  height: 10em;
  width: 40em;
}
.gamescreen-controls button {
  margin: 0.5em;
}
.gamescreen-controls span {

}
.gamescreen-controls span input {
  margin: 2em;
  width: 20em;
}

.gamescreen-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3em;
  height: 3em;
}
.gamescreen-info h3, .gamescreen-info div{
  margin: 0 1em 0 0;
}
.gamescreen-info-gameid {
  background-color: rgb(173, 173, 173);
  height: 3em;
  width: 20em;
  border-radius: 5px;
}
.gamescreen-info-gameid span {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 2em;
  margin: 0.5em;
  border-radius: 5px;
  background-color: rgb(245, 240, 240);
}
.gamescreen-info-gameid span button {
  position: relative;
  top: 0.17em;
  left: 1em;
}
.gamescreen-info-gameid span p {
  font-family: 'Source Code Pro', monospace;
  margin: 0.5em;
}

.gamescreen-game-wrapper {

}
.gamescreen-game-opponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.gamescreen-game-opponent h3 {
  margin: 0;
}
.gamescreen-game-opponent p {
  margin: 0.2em 0 0.6em 0;
  color:rgb(110, 109, 109);
}
.gamescreen-game-currentplayer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.gamescreen-game-currentplayer h3 {
  margin: 0;
}
.gamescreen-game-currentplayer p {
  margin: 0.2em 0 0.6em 0;
  color:rgb(110, 109, 109);
}

#tooltip
{
  position: absolute;
  left: 32.5em;
  bottom: 4em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  display: inline-block;
}

#tooltip.right
{
  margin-left: 5px;
}

#tooltip.left
{
  margin-left: -5px;
}

#tooltip.top
{
  margin-top: -5px;
}

#tooltip.bottom
{
  margin-top: 5px;
}

#tooltip .tooltip-arrow
{
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#tooltip.right .tooltip-arrow
{
  top: 50%;
  left: auto;
  margin-left: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#tooltip.top .tooltip-arrow
{
  top: auto;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

#tooltip.left .tooltip-arrow
{
  top: 50%;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  right: -5px;
  left: auto;
}

#tooltip.bottom .tooltip-arrow
{
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

#tooltip .tooltip-arrow
{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
}

#tooltip .tooltip-label
{
  display: flex;
  align-items: center;
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}