.sidebar-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #344966;
  height: 100vh;
  width: 25em;
  position: relative;
}
.sidebar-container h1, .sidebar-container p { 
  color: #F8F7F7;
  font-weight: bold;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}