.navbar-container {
  position: absolute;
  width: 100%;
  height: 5em;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.navbar-buttons {
  padding: 0 3em 0 3em;
}


.navbar-user-active {
  display: flex;
  flex-direction: column;
  margin: 2em;
}
.navbar-user-active button {
  font-size: 10px;
}
.navbar-user-details {
  display: flex;
  align-items: center;
}