.login-container {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #344966;
  width: 30em;
  height: 30em;
}
.login-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-menu-container a {
  font-size: 14px;
  color: #0A2344;
}
.login-menu-container h1 {
  color: #0A2344;
}
.login-menu-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 15em;
  height: 8em;
  border-radius: 5px;
}
.login-menu-wrapper input {
  margin-top: 10px;
}
.login-menu-buttons {
  display: flex;
  align-items: flex-start;
  height: 5em;
  margin: 10px;
}
.login-menu-buttons button {
  margin: 7px;
}
.login-menu-buttons a {
  align-items: flex-end;
}
.login-menu-footer {
  margin-top: 1em;
}
#email {
  padding: 5px;
}
#password {
  padding: 5px;
}